<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="movieMapper">
   
   <!-- DTO랑 같음, 근데 얘는 db컬럼이랑 dto맞춰주는거 -->
   <resultMap type="Movie" id="movieResultSet">
   	 <result column="MOVIE_INDEX" property="movie_index"></result>
   	 <result column="MOVIE_TITLE" property="movie_title"></result>
   	 <result column="MOVIE_DIRECTOR" property="movie_director"></result>
   	 <result column="MOVIE_SUMMARY" property="movie_summary"></result>
   	 <result column="MOVIE_POSTER" property="movie_poster"></result>
   	 <result column="MOVIE_OPEN_DATE" property="movie_open_date"></result>
   	 <result column="MOVIE_UPLOAD_PATH" property="movie_upload_path"></result>
   	 <result column="MOVIE_UPLOAD_NAME" property="movie_upload_name"></result>
   	 <result column="MOVIE_UPLOAD_ORIGIN_NAME" property="movie_upload_origin_name"></result>
   
   </resultMap>
   
   <insert id="insertMovie" parameterType="Movie">
   		INSERT INTO MOVIE (
   			MOVIE_INDEX,
   			MOVIE_TITLE,
   			MOVIE_DIRECTOR,
   			MOVIE_SUMMARY,
   			MOVIE_POSTER,
   			MOVIE_OPEN_DATE,
   			MOVIE_UPLOAD_PATH,
   			MOVIE_UPLOAD_NAME,
   			MOVIE_UPLOAD_ORIGIN_NAME
   		) VALUES(
   			movie_seq.nextval,
   			#{movie_title},
   			#{movie_director},
   			#{movie_summary},
   			#{movie_poster},
   			#{movie_open_date},
   			#{movie_upload_path},
   			#{movie_upload_name},
   			#{movie_upload_origin_name}
   		)
   </insert>
   
   <select id="selectMovieId" resultType="_int">
   		SELECT MOVIE_INDEX FROM MOVIE
   		WHERE movie_title = #{movie_title} AND movie_director = #{movie_director}
   </select>

	<select id="selectMovieById" resultMap="movieResultSet">
		SELECT * FROM MOVIE WHERE MOVIE_INDEX = #{movie_index}
	</select>   
	
	<select id="selectMovieByName" resultMap="movieResultSet">
		SELECT * FROM MOVIE WHERE MOVIE_TITLE LIKE '%'||#{movie_title}||'%'
	</select>
</mapper>